*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height:56px;
    width:100%;
    box-shadow: 0px 1px 3px #ccc;
    padding: 8px 13px 0px 13px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav-l{
    display: flex;
    padding:5px;
    margin: 10px;
    align-items: center;
}
.nav-l img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-l input{
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    border-radius: 50px;
    padding:7px 16px 9px 36px;
    color: #606770;
    font-size: 15px;
    height: 40px;

}
.nav-l .icon{
    position: relative;
}

.nav-l .fa-magnifying-glass{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 15px;
    top: 12px;
}
.nav-c ul {
    display: flex;
    align-items: flex-end;
}
.nav-c li {
    text-decoration: none;
    color: #65676b;
    font-size: 25px;
    padding:10px 20px;
    margin:0px 10px;
    border-radius: 8px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
 .fa-house{
    color: #1877f2;
    border-radius: 0px;
    border-bottom: 2px solid #1877f2;
}
.fa-house :hover{
    background-color: white;

}
.nav-r ul{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    list-style: none;
    }
.photo{
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 2px 10px 2px 2px;
    border-radius: 8px;
}

.photo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.photo p{
    color:#050505 ; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}

.nav-r li{
    text-decoration: none;
    list-style: none;
    color: #050505;
    background-color: #e3e4e6;
    border-radius: 50%;
    font-size:18px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.sction{ 
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
}
.sction-l {
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    left: 0;
    top: 56px;
    width: 330px;
}
.sction-l:hover{
    overflow: scroll;
}
.sction-l p {
    
    color:#050505; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}
.sction li{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding:10px 10px 10px;
    border-radius: 8px;
}
.sction-l img{
    border-radius: 50%;
    width:25px;
    height: 35px;
}
    /* continer */




.sction-c{
    display: flex;
    margin-top: 20px;
    width: 100%;

}

.image{
    width: 120px;
    height: 200px;
    background-color: white;
    overflow:hidden;
    margin-left: 7px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    position:relative;
}
span{
    
    font-size: 18px;
    color:white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1877F2;
    padding:8px;
    border-radius: 50%;
    object-fit: cover;
    border:solid 4px  white;
}
h2{
    overflow:hidden;
}
.image h2{
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #000;

}
.aaaa{
    
    width:100%;
    height:140px;
    border-radius: 10px;
    position: relative;
}
.frist-image{
    position: relative;
}

.frist-image .tttt{
    position: absolute;
    top: 11px;
    left: 16px;
    width:40px;
    height:40px;
    border-radius: 50%;
    z-index: 2;
    border: solid 4px #1877F2;
}

.frist-image p {
    color:white;
    position: absolute;
    bottom:10px;
    left:8px;
}


.dddd{
    background:white;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    margin: 20px 0px;
    padding-top: 5px;
    width: 100%;
}
.one{
    display: flex;
}
.one img{
    
    border-radius: 50%;
    width:35px;
    height:35px;
    margin-right: 10px;
   
}
.dddd hr {
    
    margin-top: 15px;
    margin-left: 28px;
    width:93%;
    background-color:rgb(190, 189, 189);
}
.one input{
    
    outline: none;
    width: 580px;
    border: none;
    border-radius: 50px;
    background:#f0f2f5;
    padding:10px;
}
.one input:hover
{
    background-color: rgba(0, 0, 0,0.1);
}

.two ul{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.two li{
    font-size: 16px;
}
.fa-video{
    color: #f3425f;
    padding: 7px;
}
.fa-images{
    color: #45bd62;
    padding: 7px;
}
.fa-face-laugh{
    color: #f7b928;
    padding: 7px;
}
.three{
  box-shadow: 0 0 5px 5px #ddd;
border-radius: 10px;
background-color: white;
width: 100%;
}
.frist-img{
    display: flex;
    justify-content: space-between;
    
}
.onee{
    display: flex;
    align-items: center;
}
.frist-img .onee img{
    width: 38px;
    height: 38px;
    border-radius:50%;
    margin: 15px;
}
.onee ul li{
    text-decoration: none;
    list-style: none;
    padding: 2px;
    font-size:11px ;
    color: #7f848b;
}
.onee h1{
    font-size: 18px;
    color: #000;
    
}
.secand img{
    width: 520px;
    margin: 10px;
    height: 520px;
}
.secand p {
    font-size: 15px;
    margin-left: 10px;
}
.lasst ul{
    display: flex;
    justify-content: space-between;
    margin:10px;
    font-weight: bold;
    color: #7f848b;
}
.sction-r{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
}
.sction-r p{
    color: #7f848b;
    margin: 30px;
}

.spon-m {
    display: flex;
    margin: 20px;
    padding: 10px;
}
.spon-m img{

    width: 110px;
    height: 60px;
    border-radius: 10px;
}

.spon-m li{
    font-weight: bold;
    padding: 3px;
}
.spon-l{
    display: flex;
    margin: 20px;
    padding: 10px;
}
.spon-l img{

    width: 80px;
    height: 70px;
    border-radius: 10px;
}

.spon-l li{
    font-weight: bold;
    padding: 1px;
}

.con{
    display: flex;
    justify-content: space-between;
    color: #787e88;
    align-items: center;

}

.con ul{
    display: flex;
    justify-content: space-between;
}

.fa-video{
    color: #787e88;
}

.lassst ul{
    display:block;
    align-items: center;
    padding: 5px;
}
.lasst ul :hover{
    background-color: #e8ecf1;
    cursor: pointer;
}

.lassst img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
}
@media  only screen and (max-width:500px){

   .sction-l{
        display: none;
    }
    .sction-r{
        display: none;
    }
.nav-l{
    display: none;
}
.nav-r{
    display: none;
}
.nav {
    align-items: center;
}
.sction-c{
    width: 90%;
    height: 100px;

}
.sction-c .image{

    width: 90px;
    height: 120px;
}
.dddd{
    margin-top: 30px;
    width: 430px;
}

.one input{
    width: 370px;
}
.two li {
    font-size: 12px;
}
.three{
width: 430px;
}
.three img{
    width: 410px;
}
.lasst ul {
    display: flex;
    align-items: center;
}
}
